  <wizard>
      <wizard-step stepTitle="Title of step 1">
        <app-my-personal-details (personDetails)="personDetails($event)"></app-my-personal-details>
        <button type="button" class="btn btn-primary" [disabled]="!personalDetailsForm?.valid" nextStep>Continue</button>
      </wizard-step>
      <wizard-step stepTitle="Title of step 2" optionalStep>
        <app-my-education-details (educationDetails)="educationDetails($event)"></app-my-education-details>
        <button type="button" previousStep>Go to previous step</button>
        <button type="button"  class="btn btn-primary" [disabled]="!educationDetailsForm?.valid" nextStep>Continue</button>
      </wizard-step>
      <wizard-step stepTitle="Title of step 3">
        <app-my-review-details [personalDetails]="personalDetails" [educatDetails]="educatDetails" ></app-my-review-details>
        <!-- <button type="button" previousStep>Previous Step</button> -->
        <button type="button" (click)="finishFunction()">Finish</button>
      </wizard-step>
    </wizard>

