<!-- <span>{{educatDetails}}</span> -->
    <div>
        <label><b>Name:</b></label>
        <p>{{personalDetails?.name}}</p>
    </div>

    <div>
        <label><b>Id:</b></label>
        <p>{{personalDetails?.phone}}</p>
    </div>

    <div>
        <label><b>Age</b></label>
        <p>{{personalDetails?.age}}</p>
    </div>

    <div>
        <label><b>Tenth:</b></label>
        <p>{{educatDetails?.tenth}}</p> 
    </div>

    <div>
        <label><b>Inter:</b></label>
        <p>{{educatDetails?.inter}}</p> 
    </div>

    <div>
        <label><b>Degree:</b></label>
        <p>{{educatDetails?.degree}}</p> 
    </div>

