<!-- <app-my-archwizar></app-my-archwizar> -->
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li cclass="nav-item">
            <a routerLink="Home" href=""class="nav-link" href="#"><b>Home</b></a>
        </li>
        <br>
        <li class="nav-item">
            <a routerLink="personal" href=""class="nav-link" href="#"><b>personal</b></a>
        </li>
        <br>
        <li class="nav-item">
            <a routerLink="education" href=""class="nav-link" href="#"><b>education</b></a>
        </li>
        <br>
        <li class="nav-item">
            <a routerLink="demotable" href=""class="nav-link" href="#"><b>demotable</b></a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>